# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [7]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas.tools.plotting import radviz

%matplotlib inline

In [3]:
mi_df = pd.DataFrame(({'a': [11,12,13], 'b': [21,22,23], 'c': [211,222,233]}))
print mi_df

    a   b    c
0  11  21  211
1  12  22  222
2  13  23  233

In [4]:
mi_df.head()

    a   b    c
0  11  21  211
1  12  22  222
2  13  23  233

In [6]:
mi_df.loc[0]

a     11
b     21
c    211
Name: 0, dtype: int64