# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [4]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas.tools.plotting import radviz

%matplotlib inline

In [2]:
mi_df = pd.DataFrame(({'a': [11,12,13], 'b': [21,22,23]}))
print mi_df

    a   b
0  11  21
1  12  22
2  13  23

In [3]:
data = {'ciudad': ['Loja', 'Pichincha', 'Guayas'],
        'capital' : ['Loja', 'Quito', 'Guayaquil'],
        'zona'  : [7, 8, 1]}
frame = pd.DataFrame(data) # Creando un DataFrame desde un diccionario
frame

     capital     ciudad  zona
0       Loja       Loja     7
1      Quito  Pichincha     8
2  Guayaquil     Guayas     1