# Uso de Series en Pandas
#### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [2]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas.tools.plotting import radviz

%matplotlib inline

In [3]:
mi_serie = pd.Series([1,2,3,4])
print mi_serie

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
mi_serie = pd.Series([1,2,3,4], index = ['uno', 'dos', 'tres', 'cuatro'])
print mi_serie
print mi_serie.sum()

uno       1
dos       2
tres      3
cuatro    4
dtype: int64
10

In [5]:
datos = [x**3 for x in range(0,10)]
mi_serie = pd.Series(datos)
print mi_serie
print "---------------------------------------"
datos = [x**4 for x in range(0,10)]
mi_serie = pd.Series(datos)
print mi_serie

0      0
1      1
2      8
3     27
4     64
5    125
6    216
7    343
8    512
9    729
dtype: int64
---------------------------------------
0       0
1       1
2      16
3      81
4     256
5     625
6    1296
7    2401
8    4096
9    6561
dtype: int64